<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuetang9.house.mapper.TownMapper">
  <resultMap id="BaseResultMap" type="com.xuetang9.house.domain.Town">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="_id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="town_id" jdbcType="VARCHAR" property="townId" />
    <result column="county_id" jdbcType="VARCHAR" property="countyId" />
  </resultMap>
</mapper>